<h1>{{ title }}</h1>
<hr>
<br/>
<h2>Why</h2>
<p>At a company I worked we always orderd lunch on fridays, however this was always done manually by one of the financial department employees.</p>
<p>They had to manually collect all of the orders via email and then create a list to go place the orders.</p>
<p>I thought to myself, this is a very uneffiecnt way of doing things. So I did a quick brainstorm and came up with this app.</p>

<h2>How</h2>
<p>This app is built with my favorite front end framework Angular, I handled the database with Firebase from Google as its super easy to implement and requires no additional servers or anything.</p>